<header >
  <nav>
    <div class="nav-wrapper container">
      <%= link_to root_path, class: "brand-logo" do %>
        LOGO
      <% end %>
      <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <%= render "shared/navbar" %>
    </div>
  </nav>
</header>

<%= render "shared/sidenav" %>

<!-- Dropdown Structure -->
<ul id='students_drop1' class='dropdown-content below-origin'>
  <%= render "shared/account_dropdown" %>
</ul>
<ul id='students_drop2' class='dropdown-content below-origin'>
  <%= render "shared/account_dropdown" %>
</ul>
